body {
	margin-top: 80px;
	margin-bottom: 80px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featuredImg {
	margin-bottom: 15px;
}

.carousel {
	margin-left: 20px;
	margin-right: 20px;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%;
margin: auto;
}

.description blackText {
	color: #000000
}

.container hr {
	border-color: #000000
}

.col-md-4 {
	border-left:solid 1px #E3E3E3;
	border-right:solid 1px #E3E3E3;
}