* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin-top: 25px;
}

p {
	line-height: 1.5em;
	list-style: none;
}
p a, p a:visited {
	color: #56bff6;
	text-decoration: none;
}

p a:hover {
	border-bottom: 1px solid #56bff6;
}

canvas, section {
	display: block;
}

#c {
	position: absolute;
	top: 40px;
}

#attribution {
	bottom: 40px;
	position: absolute;
	right: 40px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.description blackText {
	color: #000000
}

.container hr {
	border-color: #000000
}